{% extends 'base.html.twig' %}

{% block title %}Hello RecetteController!{% endblock %}

{% block body %}

<div class="container mt-4">
    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            <div class="form-error">
                {{ form_errors(form.name) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.time) }}
            {{ form_widget(form.time) }}
            <div class="form-error">
                {{ form_errors(form.time) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.numberPersonne) }}
            {{ form_widget(form.numberPersonne) }}
            <div class="form-error">
                {{ form_errors(form.numberPersonne) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.difficulty) }}
            {{ form_widget(form.difficulty) }}
            <div class="form-error">
                {{ form_errors(form.difficulty) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.process) }}
            {{ form_widget(form.process) }}
            <div class="form-error">
                {{ form_errors(form.process) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.price) }}
            {{ form_widget(form.price) }}
            <div class="form-error">
                {{ form_errors(form.price) }}
            </div>
        </div>
        <div class="form-check">
            {{ form_label(form.favorites) }}
            {{ form_widget(form.favorites) }}
            <div class="form-error">
                {{ form_errors(form.favorites) }}
            </div>
        </div>
        <div class="form-check">
            {{ form_label(form.isPublic) }}
            {{ form_widget(form.isPublic) }}
            <div class="form-error">
                {{ form_errors(form.isPublic) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.ingredients) }}
            {{ form_widget(form.ingredients) }}
            <div class="form-error">
                {{ form_errors(form.ingredients) }}
            </div>
        </div>
        <div class="form-group mt-4">
            {{ form_label(form.imageFile) }}
            {{ form_widget(form.imageFile) }}
            <div class="form-error">
                {{ form_errors(form.imageFile) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_row(form.submit)}}
        </div>
    {{ form_end(form) }}


</div>
{% endblock %}
